@charset "UTF-8";

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/inst.woff2") format("woff2"), url("../fonts/inst.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: NeueMachina;
  font-display: swap;
  src: url("../fonts/NeueMachina-Ultrabold.woff2") format("woff2"), url("../fonts/NeueMachina-Ultrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: PPNeueMachina;
  font-display: swap;
  src: url("../fonts/PPNeueMachina-InktrapRegularItalic.woff2") format("woff2"), url("../fonts/PPNeueMachina-InktrapRegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: NeueMachina;
  font-display: swap;
  src: url("../fonts/NeueMachina-Light.woff2") format("woff2"), url("../fonts/NeueMachina-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: PPNeueMachina;
  font-display: swap;
  src: url("../fonts/PPNeueMachina-InktrapLightItalic.woff2") format("woff2"), url("../fonts/PPNeueMachina-InktrapLightItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: NeueMachina;
  font-display: swap;
  src: url("../fonts/NeueMachina-Regular.woff2") format("woff2"), url("../fonts/NeueMachina-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=icon-]:before {
  display: block;
}

.icon-linked:before {
  content: "\e900";
}

.icon-twit:before {
  content: "\e901";
}

.icon-face:before {
  content: "\e903";
}

.icon--arrow:before {
  content: "\e904";
}

.icon-inst:before {
  content: "\ea92";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

body {
  background: #020202;
}

.footer-bottom__container,
.footer-top__container,
.header__container {
  max-width: 66.875rem;
}

.footer-bottom__body,
.footer-top__body,
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 2.25em;
     -moz-column-gap: 2.25em;
          column-gap: 2.25em;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}

.header__body {
  padding-top: 2.25em;
}

.header__sublogo img,
.header__logo img {
  max-width: 100%;
}

.logo img:last-child {
  display: none;
}

.icon-menu {
  position: relative;
  width: 1.875rem;
  height: 1.125rem;
  z-index: 5;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #f2f2f2;
}

.icon-menu::before {
  top: 0;
}

.icon-menu::after {
  bottom: 0;
}

.icon-menu span {
  top: calc(50% - 0.0625rem);
}

.menu-open .icon-menu span,
.menu-open .icon-menu::before,
.menu-open .icon-menu::after {
  -webkit-transition: all 0.3s ease 0.5s;
  transition: all 0.3s ease 0.5s;
}

.menu-open .icon-menu span {
  width: 0;
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu {
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 90;
}

.menu-open .menu {
  pointer-events: visible;
}

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.menu-open .menu__container {
  background: rgba(0, 0, 0, 0.467);
}

.menu__action {
  border-radius: 0.3125rem;
  padding: 0.3125rem;
  background: #242424;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  top: 50%;
  right: 1.9375rem;
  z-index: 5;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
  pointer-events: visible;
}

.menu-open .menu__action,
.view--tit .menu__action {
  top: 1.09375rem;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.menu__wrapper {
  -ms-flex-preferred-size: 18.75rem;
      flex-basis: 18.75rem;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  padding: 52.5px 36px 29px 26px;
  border-radius: 1.875rem;
}

.menu-open .menu__wrapper {
  background-color: #242424;
  -webkit-transition: background-color 1s linear 0.5s;
  transition: background-color 1s linear 0.5s;
}

.menu__body {
  opacity: 0;
  visibility: hidden;
  position: relative;
  pointer-events: visible;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* 300/1062 */
}

.menu-open .menu__body {
  -webkit-transition: opacity 1s linear 0.5s;
  transition: opacity 1s linear 0.5s;
  opacity: 1;
  visibility: visible;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.75rem;
  margin-bottom: 1.6875rem;
  max-height: 11.375rem;
  overflow: auto;
}

.menu__list::-webkit-scrollbar {
  width: 0.1875rem;
}

.menu__list::-webkit-scrollbar-thumb {
  background: rgba(242, 242, 242, 0.685);
}

.menu__item {
  font-family: "NeueMachina";
  font-size: 0.875rem;
  line-height: 1.5;
  color: #f2f2f2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.menu__link {
  padding: 0.625rem;
  border-bottom: 0.0625rem solid #f2f2f2;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

.menu__link.hover {
  -webkit-box-shadow: inset 0rem -0.125rem 0.375rem rgba(255, 255, 255, 0.6117647059);
          box-shadow: inset 0rem -0.125rem 0.375rem rgba(255, 255, 255, 0.6117647059);
  border-radius: 0.625rem;
}

.menu__link-list {
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
}

.menu__link-list .link-list__item {
  font-size: 1.25rem;
}

.menu-open.loaded {
  overflow: hidden;
}

.footer {
  color: #E0E0E0;
}

.footer__container {
  padding-left: 0px;
  padding-right: 0px;
}

.footer-top {
  font-family: Roboto;
  border-bottom: 0.0625rem solid #e0e0e0;
}

.footer-top__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2em;
}

.footer-top__logo img {
  max-width: 100%;
}

.footer-top__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2em;
     -moz-column-gap: 2em;
          column-gap: 2em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-top__item-nav {
  font-weight: 600;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-top__item-nav a {
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

.footer-top__item-nav a.hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  text-shadow: 0rem 0.0625rem 0.1875rem rgba(255, 255, 255, 0.6117647059);
}

.foot-form {
  -ms-flex-preferred-size: 38.461538%;
      flex-basis: 38.461538%;
  /* 400/1040 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.foot-form__label {
  font-weight: 600;
  line-height: 1.5;
  color: #e0e0e0;
}

.foot-form__subbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1em;
     -moz-column-gap: 1em;
          column-gap: 1em;
}

.foot-form__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: Roboto;
  line-height: 1.5;
  padding: 0.75em;
  min-width: 0px;
}

.foot-form__input::-webkit-input-placeholder {
  color: #bdbdbd;
}

.foot-form__input::-moz-placeholder {
  color: #bdbdbd;
}

.foot-form__input:-ms-input-placeholder {
  color: #bdbdbd;
}

.foot-form__input::-ms-input-placeholder {
  color: #bdbdbd;
}

.foot-form__input::placeholder {
  color: #bdbdbd;
}

.foot-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75em 1.5em;
  border: solid 1px #e0e0e0;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

.foot-form__button.hover {
  -webkit-box-shadow: inset 0rem -0.125rem 0.625rem rgba(255, 255, 255, 0.6117647059);
          box-shadow: inset 0rem -0.125rem 0.625rem rgba(255, 255, 255, 0.6117647059);
}

.foot-form__text {
  font-size: 0.75em;
  line-height: 1.5;
  color: rgb(224, 224, 224);
}

.foot-form__text > a {
  text-decoration: underline;
}

.footer-bottom__text {
  font-family: Roboto;
  font-size: 0.875em;
  line-height: 1.5;
}

.footer-bottom__link-list {
  font-size: 1.5rem;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
}

.link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link-list__item a {
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

.link-list__item a.hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  text-shadow: 0rem 0.0625rem 0.1875rem rgba(255, 255, 255, 0.6117647059);
}

.bord__container {
  max-width: 71.25rem;
}

.bord__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}

.bord__link {
  display: -ms-grid;
  display: grid;
  opacity: 0;
  visibility: hidden;
}

.bord__link.view {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 1s linear 0s;
  transition: opacity 1s linear 0s;
}

.card {
  padding: 0.625rem;
  border-radius: 2.1875em;
  -webkit-transition: -webkit-box-shadow 0.5s linear 0s;
  transition: -webkit-box-shadow 0.5s linear 0s;
  transition: box-shadow 0.5s linear 0s;
  transition: box-shadow 0.5s linear 0s, -webkit-box-shadow 0.5s linear 0s;
}

.card__image {
  position: relative;
  padding-bottom: 126.6%;
  overflow: hidden;
  border-radius: 2.1875em;
  /* 633/500 */
}

.card__image img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: -webkit-transform 0.5s linear 0s;
  transition: -webkit-transform 0.5s linear 0s;
  transition: transform 0.5s linear 0s;
  transition: transform 0.5s linear 0s, -webkit-transform 0.5s linear 0s;
}

.card__info {
  font-family: "NeueMachina";
  padding: 1.75em 2.1875em 1.125em 1.6875em;
}

.card__theme {
  line-height: 1.5;
  color: #e0e0e0;
  margin-bottom: 1em;
}

.card__project {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

.card__title {
  font-weight: 800;
  color: #fff;
}

.card__title,
.card__project {
  line-height: 1.2;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 79.375rem;
}

.about__title {
  font-family: PPNeueMachina;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #e0e0e0;
  position: relative;
}

.about__title::before {
  content: "";
  width: 0%;
  height: 0.1875rem;
  border-radius: 0.0625rem;
  background-color: #fbfbfb;
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.anima .about__title::before {
  width: 100%;
  -webkit-transition: all 1s linear 0.3s;
  transition: all 1s linear 0.3s;
}

.about__title span {
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  -webkit-transition: all 1s linear 0.3s;
  transition: all 1s linear 0.3s;
}

.anima .about__title span {
  -webkit-transform: translate(0%);
      -ms-transform: translate(0%);
          transform: translate(0%);
}

.about__title span:first-child {
  opacity: 0;
  visibility: hidden;
  left: 50%;
  top: 1.125rem;
}

.anima .about__title span:first-child {
  left: 0px;
  opacity: 1;
  visibility: visible;
}

.about__title span:last-child {
  font-family: NeueMachina;
  font-weight: 800;
  font-style: normal;
  color: #e0e0e0;
  left: 50%;
  top: 0.75rem;
}

.anima .about__title span:last-child {
  left: 100%;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.about__title.border--revers::before {
  top: calc(100% - 0.1875rem);
}

.about__title.border--revers span:first-child {
  top: 0.375rem;
}

.about__title.border--revers span:last-child {
  top: 0px;
}

.about__text {
  font-family: PPNeueMachina;
  font-weight: 300;
  font-style: italic;
  line-height: 1.17;
  opacity: 0;
  visibility: hidden;
}

.anima .about__text {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 1s linear 0.8s;
  transition: opacity 1s linear 0.8s;
}

.about__actionbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  opacity: 0;
  visibility: hidden;
}

.anima .about__actionbox {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 1s linear 1.2s;
  transition: opacity 1s linear 1.2s;
}

.about__decor {
  opacity: 0.5;
  -webkit-transition: -webkit-transform 0.8s linear 0.5s;
  transition: -webkit-transform 0.8s linear 0.5s;
  transition: transform 0.8s linear 0.5s;
  transition: transform 0.8s linear 0.5s, -webkit-transform 0.8s linear 0.5s;
}

.spoller--open .about__decor {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.about__button {
  font-family: NeueMachina;
  line-height: 1.17;
  padding: 0.613333em 1.2em;
  border-radius: 4.6875rem;
  border: solid 0.0625rem #fff;
  text-transform: capitalize;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

.about__button.hover {
  -webkit-box-shadow: inset 0rem -0.125rem 0.625rem rgba(255, 255, 255, 0.6117647059);
          box-shadow: inset 0rem -0.125rem 0.625rem rgba(255, 255, 255, 0.6117647059);
}

.about__spoller-content {
  overflow: hidden;
  height: 0px;
  -webkit-transition: padding 1s linear 0s;
  transition: padding 1s linear 0s;
  position: relative;
}

.hide {
  display: none;
}

.spoller--hiden {
  position: absolute;
  top: 0px;
  left: 0px;
}

.artbord__container {
  max-width: 67rem;
}

.artbord__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55.662188% 39.923225%;
  grid-template-columns: 55.662188% 39.923225%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 3.1875rem;
  /* 416/1042 */
}

.artbord__link {
  display: -ms-grid;
  display: grid;
  border-radius: 2.1875rem;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.artbord__link.view {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 1s linear 0s;
  transition: opacity 1s linear 0s;
}

.artbord__image {
  position: relative;
}

.artbord__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.5s linear 0s;
  transition: -webkit-transform 0.5s linear 0s;
  transition: transform 0.5s linear 0s;
  transition: transform 0.5s linear 0s, -webkit-transform 0.5s linear 0s;
}

.artbord__caption {
  font-family: "Epilogue";
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 45px 56px 37px 56px;
}

.link--child2 .artbord__caption,
.link--child3 .artbord__caption {
  padding: 21px 28px 22px 28px;
}

.artbord__type {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  margin-bottom: 0.3125rem;
}

.artbord__name {
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
}

.link--child1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.link--child4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.titlepage__container {
  position: relative;
  max-width: 68.25rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5rem;
}

.titlepage__body {
  -ms-flex-preferred-size: 69.688645%;
      flex-basis: 69.688645%;
  /* 761/1092 */
  position: relative;
  z-index: 1;
}

.titlepage__titleblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  visibility: hidden;
  font-family: "NeueMachina";
  line-height: 1.17;
  text-transform: capitalize;
}

.anima .titlepage__titleblock {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s linear 1.5s;
  transition: opacity 0.5s linear 1.5s;
}

.psevdo-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3.7px;
  margin-left: 4.4%;
  padding: 6.6px 22.1px;
  border-radius: 36.9px;
  border: solid 0.3125rem #fff;
  font-weight: 800;
}

.italic {
  font-family: "PPNeueMachina";
  font-style: italic;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.decor-title {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  right: 0px;
}

.decor-title__left,
.decor-title__right {
  width: 40.842491%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* 446/1092 */
}

.decor-title__cube-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 23.542601%;
      flex-basis: 23.542601%;
  row-gap: 0.75rem;
  /* 105/446 */
}

.decor-title__cube-block img {
  width: 100%;
}

.anima .decor-title__cube-block img {
  -webkit-transition: all 0.5s linear 0.7s;
  transition: all 0.5s linear 0.7s;
}

.decor-title__cube-block img.small-cube {
  width: 70.47619%;
  /* 74/105 */
}

.anima .decor-title__cube-block img.small-cube {
  -webkit-transition: all 0.5s linear 0.3s;
  transition: all 0.5s linear 0.3s;
}

.decor-title__bubl {
  -ms-flex-preferred-size: 69.058296%;
      flex-basis: 69.058296%;
  /* 308/446 */
}

.decor-title__bubl img {
  width: 100%;
}

.anima .decor-title__bubl img {
  -webkit-transition: opacity 0.5s linear 1s;
  transition: opacity 0.5s linear 1s;
}

.decor-title__right {
  right: 0px;
  bottom: 50%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.decor-title__right img {
  opacity: 0;
  visibility: hidden;
}

.anima .decor-title__right img {
  opacity: 1;
  visibility: visible;
}

.decor-title__right .decor-title__bubl {
  -webkit-transform: rotate(-301.08deg);
      -ms-transform: rotate(-301.08deg);
          transform: rotate(-301.08deg);
}

.decor-title__right .small-cube {
  -ms-flex-item-align: end;
      align-self: flex-end;
  /* 74/105 */
}

.decor-title__right .decor-title__cube-block {
  padding-bottom: 1.5625rem;
}

.decor-title__left {
  left: 0px;
  top: 50%;
}

.decor-title__left img {
  opacity: 0;
  visibility: hidden;
}

.anima .decor-title__left img {
  opacity: 1;
  visibility: visible;
}

.decor-title__left .decor-title__bubl {
  padding-top: 0.709375rem;
}

.decor-title__left .decor-title__bubl img {
  -webkit-transform: rotate(-110.74deg);
      -ms-transform: rotate(-110.74deg);
          transform: rotate(-110.74deg);
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #020202;
  -webkit-transition: opacity 0.5s linear 0s;
  transition: opacity 0.5s linear 0s;
}

.loaded .loader {
  opacity: 0;
  visibility: hidden;
}

.loader__decor.decor-title {
  position: static;
}

.loaded .loader__decor.decor-title {
  pointer-events: none;
}

.loader__decor .decor-title__left {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.loader__decor .decor-title__left img {
  opacity: 1;
  visibility: visible;
}

body {
  overflow: hidden;
}

body.loaded {
  overflow: auto;
}

.skills__container {
  max-width: 91.875rem;
  position: relative;
}

.skills__container::before,
.skills__container::after {
  content: "";
  position: absolute;
  background: #fff;
  height: 0.0625rem;
  border-radius: 0.0625rem;
  width: 0%;
  -webkit-transition: width 1s linear 0s;
  transition: width 1s linear 0s;
}

.skills__container::before {
  left: 0px;
  top: 0px;
  /* 1153/1470 */
}

.anima .skills__container::before {
  width: 78.435374%;
}

.skills__container::after {
  right: 0px;
  bottom: 0px;
  /* 756/1470 */
}

.anima .skills__container::after {
  width: 51.428571%;
}

.skills__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s linear 0s;
  transition: -webkit-transform 0.5s linear 0s;
  transition: transform 0.5s linear 0s;
  transition: transform 0.5s linear 0s, -webkit-transform 0.5s linear 0s;
  /* 2403/1470 */
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.46875rem;
     -moz-column-gap: 0.46875rem;
          column-gap: 0.46875rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0;
  visibility: hidden;
}

.anima .skills__list {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 1s linear 0.5s;
  transition: all 1s linear 0.5s;
}

.skills__item {
  white-space: nowrap;
  font-family: "NeueMachina";
  line-height: 1.17;
  color: #fff;
  border-radius: 75px;
  border: solid 1px #fff;
}

.list--revers .skills__item {
  font-weight: 800;
  color: rgba(255, 255, 255, 0.5);
  border-color: transparent;
}

.skills__item:nth-child(even) {
  font-weight: 800;
  color: rgba(255, 255, 255, 0.5);
  border-color: transparent;
}

.list--revers .skills__item:nth-child(even) {
  font-weight: 400;
  color: #fff;
  border-color: #fff;
}

@media (min-width: 81.875em) {
  [class*=__container] {
    font-size: 1rem;
  }

  .footer-top__container {
    padding-top: 5rem;
  }

  .footer-top__container {
    padding-bottom: 4rem;
  }

  .footer-bottom__container {
    padding-top: 4rem;
  }

  .footer-bottom__container {
    padding-bottom: 3.4375rem;
  }

  .bord__container {
    padding-top: 9.0625rem;
  }

  .bord__container {
    padding-bottom: 13.0625rem;
  }

  .bord__body {
    -webkit-column-gap: 4.375rem;
       -moz-column-gap: 4.375rem;
            column-gap: 4.375rem;
  }

  .bord__body {
    row-gap: 4.5rem;
  }

  .card__title,
  .card__project {
    font-size: 2.8125rem;
  }

  .about__container {
    row-gap: 2.75rem;
  }

  .about__title {
    height: 3rem;
  }

  .about__title {
    font-size: 1.5625rem;
  }

  .about__text {
    font-size: 4.0625rem;
  }

  .about__actionbox {
    -webkit-column-gap: 4.375rem;
       -moz-column-gap: 4.375rem;
            column-gap: 4.375rem;
  }

  .about__decor {
    font-size: 4.88125rem;
  }

  .about__button {
    margin-top: 1.625rem;
  }

  .about__button {
    font-size: 2.34375rem;
  }

  .artbord__container {
    padding-top: 11.5rem;
  }

  .artbord__container {
    padding-bottom: 7.5rem;
  }

  .artbord__body {
    -webkit-column-gap: 3.1875rem;
       -moz-column-gap: 3.1875rem;
            column-gap: 3.1875rem;
  }

  .artbord__type {
    font-size: 0.875rem;
  }

  .artbord__name {
    font-size: 1.5625rem;
  }

  .titlepage__titleblock {
    row-gap: 1.75rem;
  }

  .titlepage__titleblock {
    font-size: 5rem;
  }

  .psevdo-button {
    font-size: 3.125rem;
  }

  .italic {
    font-size: 6.25rem;
  }

  .skills__container {
    padding-top: 3.75rem;
  }

  .skills__container {
    padding-bottom: 3.75rem;
  }

  .skills__item {
    padding-top: 0.84375rem;
  }

  .skills__item {
    padding-bottom: 0.84375rem;
  }

  .skills__item {
    padding-left: 2.8125rem;
  }

  .skills__item {
    padding-right: 2.8125rem;
  }

  .skills__item {
    font-size: 1.875rem;
  }
}

@media (max-width: 67em) {
  .artbord__body {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 48em) {
  .footer-top__nav-list {
    -webkit-column-gap: 1.75em;
       -moz-column-gap: 1.75em;
            column-gap: 1.75em;
  }

  .artbord__body {
    grid-auto-rows: 1fr;
  }

  .artbord__caption {
    padding: 21px 28px 18px 28px;
  }

  .link--child2 .artbord__caption,
  .link--child3 .artbord__caption {
    padding: 21px 28px 18px 28px;
  }

  .link--child1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }

  .link--child4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }

  .titlepage__body {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }

  .psevdo-button {
    border: 0.1875rem solid #fff;
  }
}

@media (max-width: 30em) {
  .menu__wrapper {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 20em) {
  [class*=__container] {
    font-size: 0.75rem;
  }

  .footer-top__container {
    padding-top: 1.25rem;
  }

  .footer-top__container {
    padding-bottom: 2.5rem;
  }

  .footer-bottom__container {
    padding-top: 1.25rem;
  }

  .footer-bottom__container {
    padding-bottom: 1rem;
  }

  .bord__container {
    padding-top: 3.125rem;
  }

  .bord__container {
    padding-bottom: 7.0625rem;
  }

  .bord__body {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .bord__body {
    row-gap: 2.3125rem;
  }

  .card__title,
  .card__project {
    font-size: 1.5625rem;
  }

  .about__container {
    row-gap: 2.0625rem;
  }

  .about__title {
    height: 2.5rem;
  }

  .about__title {
    font-size: 1.0625rem;
  }

  .about__text {
    font-size: 2.5rem;
  }

  .about__actionbox {
    -webkit-column-gap: 2.65625rem;
       -moz-column-gap: 2.65625rem;
            column-gap: 2.65625rem;
  }

  .about__decor {
    font-size: 2.9625rem;
  }

  .about__button {
    margin-top: 0.9375rem;
  }

  .about__button {
    font-size: 1.375rem;
  }

  .artbord__container {
    padding-top: 4.875rem;
  }

  .artbord__container {
    padding-bottom: 4.6875rem;
  }

  .artbord__body {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .artbord__type {
    font-size: 0.625rem;
  }

  .artbord__name {
    font-size: 1.0625rem;
  }

  .titlepage__titleblock {
    row-gap: 0.4375rem;
  }

  .titlepage__titleblock {
    font-size: 1.6875rem;
  }

  .psevdo-button {
    font-size: 0.9375rem;
  }

  .italic {
    font-size: 2rem;
  }

  .skills__container {
    padding-top: 1.875rem;
  }

  .skills__container {
    padding-bottom: 1.875rem;
  }

  .skills__item {
    padding-top: 0.4375rem;
  }

  .skills__item {
    padding-bottom: 0.4375rem;
  }

  .skills__item {
    padding-left: 1.4375rem;
  }

  .skills__item {
    padding-right: 1.4375rem;
  }

  .skills__item {
    font-size: 0.9375rem;
  }
}

@media (max-width: 37.5em) {
  .footer-top__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.875rem;
  }

  .footer-top__nav {
    row-gap: 0.625rem;
  }

  .foot-form {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    max-width: 25rem;
  }

  .bord__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .card__info {
    padding: 1.1875rem 1.475rem 0.5625rem 1.14375rem;
  }

  .about__button {
    padding: 0.636363em 1.240909em;
    border-radius: 6.25rem;
    border: solid 0.0375rem #fff;
  }
}

@media (max-width: 28.125em) {
  .logo img:first-child {
    display: none;
  }

  .logo img:last-child {
    display: block;
  }

  .foot-form__subbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    row-gap: 1rem;
  }

  .foot-form__input {
    width: 100%;
  }

  .artbord__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .link--child1 {
    grid-row: auto;
  }

  .link--child4 {
    grid-column: auto;
  }

  .titlepage__body {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .titlepage__titleblock {
    white-space: nowrap;
  }

  .psevdo-button {
    border: 0.1125rem solid #fff;
  }
}

@media (min-width: 20em) and (max-width: 81.875em) {
@supports (font-size: clamp( 0.75rem , 0.6691919192rem  +  0.404040404vw , 1rem )) {
    [class*=__container] {
      font-size: clamp( 0.75rem , 0.6691919192rem  +  0.404040404vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6691919192rem  +  0.404040404vw , 1rem )) {
    [class*=__container] {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.0378787879rem  +  6.0606060606vw , 5rem )) {
    .footer-top__container {
      padding-top: clamp( 1.25rem , 0.0378787879rem  +  6.0606060606vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.0378787879rem  +  6.0606060606vw , 5rem )) {
    .footer-top__container {
      padding-top: calc(1.25rem + 3.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 2.0151515152rem  +  2.4242424242vw , 4rem )) {
    .footer-top__container {
      padding-bottom: clamp( 2.5rem , 2.0151515152rem  +  2.4242424242vw , 4rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 2.0151515152rem  +  2.4242424242vw , 4rem )) {
    .footer-top__container {
      padding-bottom: calc(2.5rem + 1.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.3611111111rem  +  4.4444444444vw , 4rem )) {
    .footer-bottom__container {
      padding-top: clamp( 1.25rem , 0.3611111111rem  +  4.4444444444vw , 4rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.3611111111rem  +  4.4444444444vw , 4rem )) {
    .footer-bottom__container {
      padding-top: calc(1.25rem + 2.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1rem , 0.2121212121rem  +  3.9393939394vw , 3.4375rem )) {
    .footer-bottom__container {
      padding-bottom: clamp( 1rem , 0.2121212121rem  +  3.9393939394vw , 3.4375rem );
    }
}

@supports not (padding-bottom: clamp( 1rem , 0.2121212121rem  +  3.9393939394vw , 3.4375rem )) {
    .footer-bottom__container {
      padding-bottom: calc(1rem + 2.4375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.2058080808rem  +  9.595959596vw , 9.0625rem )) {
    .bord__container {
      padding-top: clamp( 3.125rem , 1.2058080808rem  +  9.595959596vw , 9.0625rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.2058080808rem  +  9.595959596vw , 9.0625rem )) {
    .bord__container {
      padding-top: calc(3.125rem + 5.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 7.0625rem , 5.1231060606rem  +  9.696969697vw , 13.0625rem )) {
    .bord__container {
      padding-bottom: clamp( 7.0625rem , 5.1231060606rem  +  9.696969697vw , 13.0625rem );
    }
}

@supports not (padding-bottom: clamp( 7.0625rem , 5.1231060606rem  +  9.696969697vw , 13.0625rem )) {
    .bord__container {
      padding-bottom: calc(7.0625rem + 6 * (100vw - 20rem) / 61.875);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.2398989899rem  +  5.0505050505vw , 4.375rem )) or (column-gap: clamp( 1.25rem , 0.2398989899rem  +  5.0505050505vw , 4.375rem ))) {
    .bord__body {
      -webkit-column-gap: clamp( 1.25rem , 0.2398989899rem  +  5.0505050505vw , 4.375rem );
         -moz-column-gap: clamp( 1.25rem , 0.2398989899rem  +  5.0505050505vw , 4.375rem );
              column-gap: clamp( 1.25rem , 0.2398989899rem  +  5.0505050505vw , 4.375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.2398989899rem  +  5.0505050505vw , 4.375rem )) or (column-gap: clamp( 1.25rem , 0.2398989899rem  +  5.0505050505vw , 4.375rem ))) {
    .bord__body {
      -webkit-column-gap: calc(1.25rem + 3.125 * (100vw - 20rem) / 61.875);
         -moz-column-gap: calc(1.25rem + 3.125 * (100vw - 20rem) / 61.875);
              column-gap: calc(1.25rem + 3.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (row-gap: clamp( 2.3125rem , 1.6054292929rem  +  3.5353535354vw , 4.5rem )) {
    .bord__body {
      row-gap: clamp( 2.3125rem , 1.6054292929rem  +  3.5353535354vw , 4.5rem );
    }
}

@supports not (row-gap: clamp( 2.3125rem , 1.6054292929rem  +  3.5353535354vw , 4.5rem )) {
    .bord__body {
      row-gap: calc(2.3125rem + 2.1875 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.158459596rem  +  2.0202020202vw , 2.8125rem )) {
    .card__title,
    .card__project {
      font-size: clamp( 1.5625rem , 1.158459596rem  +  2.0202020202vw , 2.8125rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.158459596rem  +  2.0202020202vw , 2.8125rem )) {
    .card__title,
    .card__project {
      font-size: calc(1.5625rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (row-gap: clamp( 2.0625rem , 1.8402777778rem  +  1.1111111111vw , 2.75rem )) {
    .about__container {
      row-gap: clamp( 2.0625rem , 1.8402777778rem  +  1.1111111111vw , 2.75rem );
    }
}

@supports not (row-gap: clamp( 2.0625rem , 1.8402777778rem  +  1.1111111111vw , 2.75rem )) {
    .about__container {
      row-gap: calc(2.0625rem + 0.6875 * (100vw - 20rem) / 61.875);
    }
}

@supports (height: clamp( 2.5rem , 2.3383838384rem  +  0.8080808081vw , 3rem )) {
    .about__title {
      height: clamp( 2.5rem , 2.3383838384rem  +  0.8080808081vw , 3rem );
    }
}

@supports not (height: clamp( 2.5rem , 2.3383838384rem  +  0.8080808081vw , 3rem )) {
    .about__title {
      height: calc(2.5rem + 0.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.0625rem , 0.9008838384rem  +  0.8080808081vw , 1.5625rem )) {
    .about__title {
      font-size: clamp( 1.0625rem , 0.9008838384rem  +  0.8080808081vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.0625rem , 0.9008838384rem  +  0.8080808081vw , 1.5625rem )) {
    .about__title {
      font-size: calc(1.0625rem + 0.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 2.5rem , 1.9949494949rem  +  2.5252525253vw , 4.0625rem )) {
    .about__text {
      font-size: clamp( 2.5rem , 1.9949494949rem  +  2.5252525253vw , 4.0625rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 1.9949494949rem  +  2.5252525253vw , 4.0625rem )) {
    .about__text {
      font-size: calc(2.5rem + 1.5625 * (100vw - 20rem) / 61.875);
    }
}

@supports ((-moz-column-gap: clamp( 2.65625rem , 2.1006944444rem  +  2.7777777778vw , 4.375rem )) or (column-gap: clamp( 2.65625rem , 2.1006944444rem  +  2.7777777778vw , 4.375rem ))) {
    .about__actionbox {
      -webkit-column-gap: clamp( 2.65625rem , 2.1006944444rem  +  2.7777777778vw , 4.375rem );
         -moz-column-gap: clamp( 2.65625rem , 2.1006944444rem  +  2.7777777778vw , 4.375rem );
              column-gap: clamp( 2.65625rem , 2.1006944444rem  +  2.7777777778vw , 4.375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 2.65625rem , 2.1006944444rem  +  2.7777777778vw , 4.375rem )) or (column-gap: clamp( 2.65625rem , 2.1006944444rem  +  2.7777777778vw , 4.375rem ))) {
    .about__actionbox {
      -webkit-column-gap: calc(2.65625rem + 1.71875 * (100vw - 20rem) / 61.875);
         -moz-column-gap: calc(2.65625rem + 1.71875 * (100vw - 20rem) / 61.875);
              column-gap: calc(2.65625rem + 1.71875 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 2.9625rem , 2.3422979798rem  +  3.101010101vw , 4.88125rem )) {
    .about__decor {
      font-size: clamp( 2.9625rem , 2.3422979798rem  +  3.101010101vw , 4.88125rem );
    }
}

@supports not (font-size: clamp( 2.9625rem , 2.3422979798rem  +  3.101010101vw , 4.88125rem )) {
    .about__decor {
      font-size: calc(2.9625rem + 1.91875 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-top: clamp( 0.9375rem , 0.7152777778rem  +  1.1111111111vw , 1.625rem )) {
    .about__button {
      margin-top: clamp( 0.9375rem , 0.7152777778rem  +  1.1111111111vw , 1.625rem );
    }
}

@supports not (margin-top: clamp( 0.9375rem , 0.7152777778rem  +  1.1111111111vw , 1.625rem )) {
    .about__button {
      margin-top: calc(0.9375rem + 0.6875 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.375rem , 1.0618686869rem  +  1.5656565657vw , 2.34375rem )) {
    .about__button {
      font-size: clamp( 1.375rem , 1.0618686869rem  +  1.5656565657vw , 2.34375rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.0618686869rem  +  1.5656565657vw , 2.34375rem )) {
    .about__button {
      font-size: calc(1.375rem + 0.96875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 4.875rem , 2.7335858586rem  +  10.7070707071vw , 11.5rem )) {
    .artbord__container {
      padding-top: clamp( 4.875rem , 2.7335858586rem  +  10.7070707071vw , 11.5rem );
    }
}

@supports not (padding-top: clamp( 4.875rem , 2.7335858586rem  +  10.7070707071vw , 11.5rem )) {
    .artbord__container {
      padding-top: calc(4.875rem + 6.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 4.6875rem , 3.7784090909rem  +  4.5454545455vw , 7.5rem )) {
    .artbord__container {
      padding-bottom: clamp( 4.6875rem , 3.7784090909rem  +  4.5454545455vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 4.6875rem , 3.7784090909rem  +  4.5454545455vw , 7.5rem )) {
    .artbord__container {
      padding-bottom: calc(4.6875rem + 2.8125 * (100vw - 20rem) / 61.875);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.6237373737rem  +  3.1313131313vw , 3.1875rem )) or (column-gap: clamp( 1.25rem , 0.6237373737rem  +  3.1313131313vw , 3.1875rem ))) {
    .artbord__body {
      -webkit-column-gap: clamp( 1.25rem , 0.6237373737rem  +  3.1313131313vw , 3.1875rem );
         -moz-column-gap: clamp( 1.25rem , 0.6237373737rem  +  3.1313131313vw , 3.1875rem );
              column-gap: clamp( 1.25rem , 0.6237373737rem  +  3.1313131313vw , 3.1875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.6237373737rem  +  3.1313131313vw , 3.1875rem )) or (column-gap: clamp( 1.25rem , 0.6237373737rem  +  3.1313131313vw , 3.1875rem ))) {
    .artbord__body {
      -webkit-column-gap: calc(1.25rem + 1.9375 * (100vw - 20rem) / 61.875);
         -moz-column-gap: calc(1.25rem + 1.9375 * (100vw - 20rem) / 61.875);
              column-gap: calc(1.25rem + 1.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 0.625rem , 0.5441919192rem  +  0.404040404vw , 0.875rem )) {
    .artbord__type {
      font-size: clamp( 0.625rem , 0.5441919192rem  +  0.404040404vw , 0.875rem );
    }
}

@supports not (font-size: clamp( 0.625rem , 0.5441919192rem  +  0.404040404vw , 0.875rem )) {
    .artbord__type {
      font-size: calc(0.625rem + 0.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.0625rem , 0.9008838384rem  +  0.8080808081vw , 1.5625rem )) {
    .artbord__name {
      font-size: clamp( 1.0625rem , 0.9008838384rem  +  0.8080808081vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.0625rem , 0.9008838384rem  +  0.8080808081vw , 1.5625rem )) {
    .artbord__name {
      font-size: calc(1.0625rem + 0.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (row-gap: clamp( 0.4375rem , 0.0132575758rem  +  2.1212121212vw , 1.75rem )) {
    .titlepage__titleblock {
      row-gap: clamp( 0.4375rem , 0.0132575758rem  +  2.1212121212vw , 1.75rem );
    }
}

@supports not (row-gap: clamp( 0.4375rem , 0.0132575758rem  +  2.1212121212vw , 1.75rem )) {
    .titlepage__titleblock {
      row-gap: calc(0.4375rem + 1.3125 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.6875rem , 0.6167929293rem  +  5.3535353535vw , 5rem )) {
    .titlepage__titleblock {
      font-size: clamp( 1.6875rem , 0.6167929293rem  +  5.3535353535vw , 5rem );
    }
}

@supports not (font-size: clamp( 1.6875rem , 0.6167929293rem  +  5.3535353535vw , 5rem )) {
    .titlepage__titleblock {
      font-size: calc(1.6875rem + 3.3125 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.2304292929rem  +  3.5353535354vw , 3.125rem )) {
    .psevdo-button {
      font-size: clamp( 0.9375rem , 0.2304292929rem  +  3.5353535354vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.2304292929rem  +  3.5353535354vw , 3.125rem )) {
    .psevdo-button {
      font-size: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 2rem , 0.6262626263rem  +  6.8686868687vw , 6.25rem )) {
    .italic {
      font-size: clamp( 2rem , 0.6262626263rem  +  6.8686868687vw , 6.25rem );
    }
}

@supports not (font-size: clamp( 2rem , 0.6262626263rem  +  6.8686868687vw , 6.25rem )) {
    .italic {
      font-size: calc(2rem + 4.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.2689393939rem  +  3.0303030303vw , 3.75rem )) {
    .skills__container {
      padding-top: clamp( 1.875rem , 1.2689393939rem  +  3.0303030303vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.2689393939rem  +  3.0303030303vw , 3.75rem )) {
    .skills__container {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.2689393939rem  +  3.0303030303vw , 3.75rem )) {
    .skills__container {
      padding-bottom: clamp( 1.875rem , 1.2689393939rem  +  3.0303030303vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.2689393939rem  +  3.0303030303vw , 3.75rem )) {
    .skills__container {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 0.4375rem , 0.3061868687rem  +  0.6565656566vw , 0.84375rem )) {
    .skills__item {
      padding-top: clamp( 0.4375rem , 0.3061868687rem  +  0.6565656566vw , 0.84375rem );
    }
}

@supports not (padding-top: clamp( 0.4375rem , 0.3061868687rem  +  0.6565656566vw , 0.84375rem )) {
    .skills__item {
      padding-top: calc(0.4375rem + 0.40625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 0.4375rem , 0.3061868687rem  +  0.6565656566vw , 0.84375rem )) {
    .skills__item {
      padding-bottom: clamp( 0.4375rem , 0.3061868687rem  +  0.6565656566vw , 0.84375rem );
    }
}

@supports not (padding-bottom: clamp( 0.4375rem , 0.3061868687rem  +  0.6565656566vw , 0.84375rem )) {
    .skills__item {
      padding-bottom: calc(0.4375rem + 0.40625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-left: clamp( 1.4375rem , 0.9930555556rem  +  2.2222222222vw , 2.8125rem )) {
    .skills__item {
      padding-left: clamp( 1.4375rem , 0.9930555556rem  +  2.2222222222vw , 2.8125rem );
    }
}

@supports not (padding-left: clamp( 1.4375rem , 0.9930555556rem  +  2.2222222222vw , 2.8125rem )) {
    .skills__item {
      padding-left: calc(1.4375rem + 1.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-right: clamp( 1.4375rem , 0.9930555556rem  +  2.2222222222vw , 2.8125rem )) {
    .skills__item {
      padding-right: clamp( 1.4375rem , 0.9930555556rem  +  2.2222222222vw , 2.8125rem );
    }
}

@supports not (padding-right: clamp( 1.4375rem , 0.9930555556rem  +  2.2222222222vw , 2.8125rem )) {
    .skills__item {
      padding-right: calc(1.4375rem + 1.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem )) {
    .skills__item {
      font-size: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem )) {
    .skills__item {
      font-size: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 61.875);
    }
}
}

@media (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    -webkit-box-shadow: inset 0rem -0.125rem 0.375rem rgba(255, 255, 255, 0.6117647059);
            box-shadow: inset 0rem -0.125rem 0.375rem rgba(255, 255, 255, 0.6117647059);
    border-radius: 0.625rem;
  }

  .footer-top__item-nav a:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    text-shadow: 0rem 0.0625rem 0.1875rem rgba(255, 255, 255, 0.6117647059);
  }

  .foot-form__button:hover {
    -webkit-box-shadow: inset 0rem -0.125rem 0.625rem rgba(255, 255, 255, 0.6117647059);
            box-shadow: inset 0rem -0.125rem 0.625rem rgba(255, 255, 255, 0.6117647059);
  }

  .link-list__item a:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
    text-shadow: 0rem 0.0625rem 0.1875rem rgba(255, 255, 255, 0.6117647059);
  }

  .card:hover {
    -webkit-box-shadow: 0.125rem 0.125rem 0.375rem #fff, -0.125rem -0.125rem 0.375rem #fff, -0.125rem 0.125rem 0.375rem #fff, 0.125rem -0.125rem 0.375rem #fff;
            box-shadow: 0.125rem 0.125rem 0.375rem #fff, -0.125rem -0.125rem 0.375rem #fff, -0.125rem 0.125rem 0.375rem #fff, 0.125rem -0.125rem 0.375rem #fff;
  }

  .card:hover img {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .about__button:hover {
    -webkit-box-shadow: inset 0rem -0.125rem 0.625rem rgba(255, 255, 255, 0.6117647059);
            box-shadow: inset 0rem -0.125rem 0.625rem rgba(255, 255, 255, 0.6117647059);
  }

  .artbord__link:hover img {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}